                  </div>
                </div>
                <div class="shadow-border-mid-right"></div>
              </div>
              <div class="shadow-border-bottom">
                <div class="shadow-border-bottom-left"></div>
                <div class="shadow-border-bottom-right"></div>
              </div>
            </div></div>
            <!--TYPO3SEARCH_end-->
        </div>
        <div id="two-col-block" class="clearfix">
          <div id="col-left">
            <div id="footer"></div>
          </div>
          <div id="col-right"></div>
        </div>
      </div>
      <div id="force-down-footer"><div id="c3079" class="csc-default" ><p class="bodytext"><br /><a href="https://buwa.nl/sitemap.html" class="internal-link" >Site Map</a>&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp; &nbsp;<a href="https://buwa.nl/contact.html" class="internal-link" >Contact</a>&nbsp;&nbsp;&nbsp; | &nbsp; &nbsp;<a href="https://buwa.nl/privacy.html" title="Opens internal link in current window" class="internal-link" >Privacy</a></p></div></div>
    </div>

