<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Bureau Waardenburg: Nieuws en Tweets</title>
  <meta name="keywords" content="ontwerp, landschapsontwerp, inrichting, inventarisatie, KRW" />
  <meta name="description" content="Nieuws gerelateerd aan ecologie en natuur" />
  <meta name="url" content="/" />
  <meta name="robots" content="index, follow" />
  <link rel="icon" href="/nieuws/typo3conf/ext/lwtpl_buwa_v3/favicon.ico" type="image/x-icon" />
  <link rel="SHORTCUT ICON" href="/nieuwis/typo3conf/ext/lwtpl_buwa_v3/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/nieuws/typo3conf/ext/lwtpl_buwa_v3/tpl/css/style.css" media="all" />
  <style>

  figure {
    margin:0;
  }

  figure.left {
    float:left;
    margin-right: 10px;
    display: inline;
  }

  figure.right {
    float:right;
    margin-left: 10px;
    display: inline;
  }
  </style>
</head>

